#canvas {
  width: 600px;
  height: 600px;
  border: 1px solid #b92727;
  display: inline-block;
  vertical-align: middle;
}

#menubar {
  width: 182px;
  height: auto;
  border: 2px solid black;
  margin-right: auto;
  position: fixed;
  margin-top: auto;
  background-color: #fbe7c4;
}
#body {
  padding: 100px;
  padding-left: 100px;
  border: 1px solid;
}
ul {
  list-style: none;
  display: block;
  margin-left: -20px;
}
#reset {
  margin-bottom: 10px;
}
#pixel {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
}
#leftKnob {
  width: 120px;
  height: 800px;
  background-color: #b92727;
  margin-top: 100px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  position: relative;
}
#rightKnob {
  width: 120px;
  height: 800px;
  background-color: #b92727;
  margin-top: 100px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  position: relative;
}
#mid {
  width: 600px;
  height: 600px;
  margin-top: 100px;
  border-top: 100px solid #b92727;
  border-bottom: 100px solid #b92727;
  position: relative;
}
#container {
  display: flex;
  justify-content: center;
}
#lKnob, #rKnob {
  width: 100px;
  height: 100px;
  background-color: #e4d2a5;
  border-radius: 100%;
  bottom: 0;
  position: absolute;
  left: 8%;
  margin-bottom: 14px;
}
#arrow {
  margin-top: 0px;
  text-align: center;
}
span {
  font-size: 74px;
}
