#canvas {
  width: 600px;
  height: 600px;
  border-top: 150px solid #b92727;
  margin: 100px auto;
  border-radius: 92px;
  border-bottom: 150px solid #b92727;
  border-left: 170px solid #b92727;
  border-right: 170px solid #b92727;
}

#menubar {
  width: 150px;
  height: auto;
  border: 1px dotted black;
  margin-right: auto;
  position: fixed;
  margin-top: auto;
  background-color: #fbe7c4;
}
#body {
  padding: 100px;
  padding-left: 100px;
  border: 1px solid;
}
ul {
  list-style: none;
  display: block;
  margin-left: -20px;
}
#reset {
  margin-bottom: 10px;
}
#pixel {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
}
